<!-- Header -->



<header class="flex justify-between items-center p-6 border-b border-gray-800">
  <%= link_to root_path, class:"flex items-center space-x-3" do %>
    <% if Logo.last.present? %>
      <%= image_tag(Logo.last.logo, alt:"IDEA logo", class:"w-8 h-8 object-contain") %>
    <% end %>
    <h1 class="text-2xl font-bold">IDEA</h1>
  <% end %>

  <!-- Desktop menu -->
  <nav class="hidden md:flex space-x-6">
    <%= link_to 'Обо мне', root_path + "#about", class:"hover:text-pink-400" %>
    <%= link_to 'Работы', root_path + "#works", class:"hover:text-pink-400" %>
    <%= link_to 'Услуги', root_path + "#services", class:"hover:text-pink-400" %>
    <%= link_to 'Контакты', root_path + "#contacts", class:"hover:text-pink-400" %>
  </nav>

  <!-- Burger button -->
  <button id="menu-btn" class="md:hidden text-white text-2xl">
    <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
</header>

<!-- Mobile menu -->
<div id="mobile-menu" class="hidden flex flex-col items-center space-y-6 py-6 bg-gray-900 border-b border-gray-800 md:hidden">
  <%= link_to 'Обо мне', root_path + "#about", class:"hover:text-pink-400" %>
  <%= link_to 'Работы', root_path + "#works", class:"hover:text-pink-400" %>
  <%= link_to 'Услуги', root_path + "#services", class:"hover:text-pink-400" %>
  <%= link_to 'Контакты', root_path + "#contacts", class:"hover:text-pink-400" %>
</div>
